.buttons {
  width: 20%;
}

.buttonPlusMinus {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 17px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.buttonPlusMinus:hover {
  background-color: #f7fafa;
}

.buttonPlusMinus:focus {
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}
.buttonPlusMinus:disabled {
  background-color: rgba(128, 128, 128, 0.09);
  color: rgba(128, 128, 128, 0.403);
}

.btn-add:hover {
  background-color: #ff9800;
  border: 1px solid #ff9800;
}
/*Responsive */

@media only screen and (max-width: 855px) {
  .btn-g {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    gap: 7px !important;
  }
}
@media only screen and (max-width: 575px) {
  .burger-img {
    width: 60%;

    align-self: center;
  }
}
